.row
  .col-lg-4.col-xs-12
    .small-box.bg-aqua
      .inner
        %h3= Course.all.count
        %p= t('title.course.menu')
        .icon
          %i.fa.fa-book
      %a.small-box-footer{href:courses_path}= t('title.dashboard.detail')
  .col-lg-4.col-xs-12
    .small-box.bg-green
      .inner
        %h3= Student.all.count
        %p= t('title.student.menu')
        .icon
          %i.fa.fa-user
      %a.small-box-footer{href:students_path}= t('title.dashboard.detail')
  .col-lg-4.col-xs-12
    .small-box.bg-yellow
      .inner
        %h3= Classroom.all.count
        %p= t('title.classroom.menu')
        .icon
          %i.fa.fa-cube
      %a.small-box-footer{href:classrooms_path}= t('title.dashboard.detail')