= form_for @classroom, html: {} do |f|
	.box-body
		- if @classroom.errors.any?
			.alert.alert-danger
				- @classroom.errors.full_messages.each do |m|
					%div
						%i.icon.fa.fa-ban
						= m
		.form-group
			= f.label :course
			= f.select :course_id, Course.all.order(:name).map { |s| [s.name, s.id] },
													{},
               						{ class: 'form-control chosen-select' }
		.form-group
			= f.label :student
			= f.select :student_id, Student.all.order(:name).map { |s| [s.name, s.id] },
													{},
               						{ class: 'form-control chosen-select' }
	.box-footer
		= f.submit class: 'btn btn-primary'