.box.box-primary
	.box-header
		%h3.box-title= t 'title.classroom.edit'
		.box-tools
			= link_to(classrooms_path, class: 'btn btn-primary') do
				%i.fa.fa-table
			= link_to(classroom_path(@classroom.id), class: 'btn btn-primary') do
				%i.fa.fa-eye
	= render 'form'