.box.box-primary
	.box-header
		%h3.box-title= t 'title.classroom.index'
		.box-tools
			= link_to(new_classroom_path, class:'btn btn-success') do
				%i.fa.fa-plus
	.box-body.no-padding
		%table.table.table-hover.table-striped
			%thead
				%tr
					%th= t 'activerecord.attributes.classroom.course'
					%th= t 'activerecord.attributes.classroom.student'
					%th= t 'activerecord.attributes.classroom.entry_at'
					%th.actions= t 'title.actions'
			%tbody
				- @classrooms.each do |classroom|
					%tr
						%td= classroom.course.name
						%td= classroom.student.name
						%td= l classroom.entry_at
						%td
							= link_to(classroom_path(classroom.id), class: 'btn btn-primary') do
								%i.fa.fa-eye
							= link_to(edit_classroom_path(classroom.id), class: 'btn btn-info') do
								%i.fa.fa-pencil
							= link_to(classroom_path(classroom.id), method: :delete, class: 'btn btn-danger', data: {confirm: t('confirmation.destroy')}) do
								%i.fa.fa-trash-o
	.box-footer
		= will_paginate @classrooms, renderer: BootstrapPagination::Rails