.box.box-primary
	.box-header
		%h3.box-title= t 'title.classroom.show'
		.box-tools
			= link_to(classrooms_path, class: 'btn btn-primary') do
				%i.fa.fa-table
			= link_to(edit_classroom_path(@classroom.id), class: 'btn btn-info') do
				%i.fa.fa-pencil
			= link_to(classroom_path(@classroom.id), method: :delete, class: 'btn btn-danger', data: {confirm: t('confirmation.destroy')}) do
				%i.fa.fa-trash-o
	.box-body.no-padding
		%table.table
			%tbody
				%tr
					%td
						%b= t 'activerecord.attributes.classroom.course'
					%td= @classroom.course.name
				%tr
					%td
						%b= t 'activerecord.attributes.classroom.student'
					%td= @classroom.student.name
				%tr
					%td
						%b= t 'activerecord.attributes.classroom.entry_at'
					%td= l @classroom.entry_at