= form_for @student, html: {} do |f|
	.box-body
		- if @student.errors.any?
			.alert.alert-danger
				- @student.errors.full_messages.each do |m|
					%div
						%i.icon.fa.fa-ban
						= m
		.form-group
			= f.label :name
			= f.text_field :name, class:'form-control'
		.form-group
			= f.label :register_number
			= f.text_field :register_number, class:'form-control'
		.form-group
			= f.label :status
			= f.select :status, [[t('enum.active'), :active], [t('enum.inactive'), :inactive]], {}, {class: 'form-control'}
	.box-footer
		= f.submit class: 'btn btn-primary'