.box.box-primary
	.box-header
		%h3.box-title= t 'title.student.edit'
		.box-tools
			= link_to(students_path, class: 'btn btn-primary') do
				%i.fa.fa-table
			= link_to(student_path(@student.id), class: 'btn btn-primary') do
				%i.fa.fa-eye
	= render 'form'