.box.box-primary
	.box-header
		%h3.box-title= t 'title.student.index'
		.box-tools
			= link_to(new_student_path, class:'btn btn-success') do
				%i.fa.fa-plus
	.box-body.no-padding
		%table.table.table-condensed.table-hover.table-striped
			%thead
				%tr
					%th= t 'activerecord.attributes.student.name'
					%th= t 'activerecord.attributes.student.register_number'
					%th= t 'activerecord.attributes.student.status'
					%th.actions= t 'title.actions'
			%tbody
				- @students.each do |student|
					%tr
						%td= student.name
						%td= student.register_number
						%td= t("enum.#{student.status}")
						%td
							= link_to(student_path(student.id), class: 'btn btn-primary') do
								%i.fa.fa-eye
							= link_to(edit_student_path(student.id), class: 'btn btn-info') do
								%i.fa.fa-pencil
							= link_to(student_path(student.id), method: :delete, class: 'btn btn-danger', data: {confirm: t('confirmation.destroy')}) do
								%i.fa.fa-trash-o
	.box-footer
		= will_paginate @students, renderer: BootstrapPagination::Rails