.box.box-primary
	.box-header
		%h3.box-title= t 'title.student.show'
		.box-tools
			= link_to(students_path, class: 'btn btn-primary') do
				%i.fa.fa-table
			= link_to(edit_student_path(@student.id), class: 'btn btn-info') do
				%i.fa.fa-pencil
			= link_to(student_path(@student.id), method: :delete, class: 'btn btn-danger', data: {confirm: t('confirmation.destroy')}) do
				%i.fa.fa-trash-o
	.box-body.no-padding
		%table.table
			%tbody
				%tr
					%td
						%b= t 'activerecord.attributes.student.name'
					%td= @student.name
				%tr
					%td
						%b= t 'activerecord.attributes.student.register_number'
					%td= @student.register_number
				%tr
					%td
						%b= t 'activerecord.attributes.student.status'
					%td= t("enum.#{@student.status}")