.box.box-primary
	.box-header
		%h3.box-title= t 'title.course.edit'
		.box-tools
			= link_to(courses_path, class: 'btn btn-primary') do
				%i.fa.fa-table
			= link_to(course_path(@course.id), class: 'btn btn-primary') do
				%i.fa.fa-eye
	= render 'form'