.box.box-primary
	.box-header
		%h3.box-title= t 'title.course.index'
		.box-tools
			= link_to(new_course_path, class:'btn btn-success') do
				%i.fa.fa-plus
	.box-body.no-padding
		%table.table.table-hover.table-striped
			%thead
				%tr
					%th= t 'activerecord.attributes.course.name'
					%th= t 'activerecord.attributes.course.description'
					%th= t 'activerecord.attributes.course.status'
					%th.actions= t 'title.actions'
			%tbody
				- @courses.each do |course|
					%tr
						%td= course.name
						%td= course.description
						%td= t("enum.#{course.status}")
						%td
							= link_to(course_path(course.id), class: 'btn btn-primary') do
								%i.fa.fa-eye
							= link_to(edit_course_path(course.id), class: 'btn btn-info') do
								%i.fa.fa-pencil
							= link_to(course_path(course.id), method: :delete, class: 'btn btn-danger', data: {confirm: t('confirmation.destroy')}) do
								%i.fa.fa-trash-o
	.box-footer
		= will_paginate @courses, renderer: BootstrapPagination::Rails