.box.box-primary
	.box-header
		%h3.box-title= t 'title.course.show'
		.box-tools
			= link_to(courses_path, class: 'btn btn-primary') do
				%i.fa.fa-table
			= link_to(edit_course_path(@course.id), class: 'btn btn-info') do
				%i.fa.fa-pencil
			= link_to(course_path(@course.id), method: :delete, class: 'btn btn-danger', data: {confirm: t('confirmation.destroy')}) do
				%i.fa.fa-trash-o
	.box-body.no-padding
		%table.table
			%tbody
				%tr
					%td
						%b= t 'activerecord.attributes.course.name'
					%td= @course.name
				%tr
					%td
						%b= t 'activerecord.attributes.course.description'
					%td= @course.description
				%tr
					%td
						%b= t 'activerecord.attributes.course.status'
					%td= t("enum.#{@course.status}")