%html
	%head
		%title= "[IS] #{t('title.application')}"
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body.skin-blue
		.wrapper
			%header.main-header
				%a.logo{href:root_path}
					%span.logo-lg
						%b= '[iS]'
						= t 'title.application'
				%nav.navbar.navbar-static-top
			%aside.main-sidebar
				%section.sidebar
					%ul.sidebar-menu
						%li.header
							= 'Menu'
						%li{class:"#{params[:controller] == 'dashboard' ? 'active' : ''}"}
							%a{href:root_path}
								%i.fa.fa-tachometer
								= t 'title.dashboard.menu'
						%li{class:"#{params[:controller] == 'courses' ? 'active' : ''}"}
							%a{href:courses_path}
								%i.fa.fa-book
								= t 'title.course.menu'
						%li{class:"#{params[:controller] == 'students' ? 'active' : ''}"}
							%a{href:students_path}
								%i.fa.fa-user
								= t 'title.student.menu'
						%li{class:"#{params[:controller] == 'classrooms' ? 'active' : ''}"}
							%a{href:classrooms_path}
								%i.fa.fa-cube
								= t 'title.classroom.menu'
			.content-wrapper
				%section.content
					- if flash[:notice]
						.alert.alert-success.alert-dismissable
							%button.close{type: 'button', "data-dismiss" => "alert"}= 'x'
							%i.icon.fa.fa-check
							= flash[:notice]
					= yield


