.error-page
  %h2.headline.text-yellow= '404'
  .error-content
    %h3
      %i.fa.fa-warning.text-yellow
      = 'Oops! Page not found.'
    %p
      = 'We could not find the page you were looking for. Meanwhile, you may '
      %a{href: root_path}= 'return to dashboard'